<p>Olá,</p>

<p>A sua integração com o Slack expirou. Para continuar recebendo mensagens no Slack, exclua a integração e conecte novamente o seu workspace.</p>

<p>
Clique <a href="{{action_url}}">aqui</a> para reconectar.
</p>

